<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases> 
        <typeAlias alias="ContestDO" type="com.onlinejudge.judge.domain.ContestDO"/>
        <typeAlias alias="FileDO" type="com.onlinejudge.judge.domain.FileDO"/>
        <typeAlias alias="ProblemDO" type="com.onlinejudge.judge.domain.ProblemDO"/>
        <typeAlias alias="ProblemFileDO" type="com.onlinejudge.judge.domain.ProblemFileDO"/>
        <typeAlias alias="StatusDO" type="com.onlinejudge.judge.domain.StatusDO"/>
        <typeAlias alias="StudentContestDO" type="com.onlinejudge.judge.domain.StudentContestDO"/>
        <typeAlias alias="StudentDO" type="com.onlinejudge.judge.domain.StudentDO"/>
        <typeAlias alias="SubmitDO" type="com.onlinejudge.judge.domain.SubmitDO"/>
    </typeAliases> 

    <environments default="development">
        <environment id="development">
        <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
            <property name="driver" value="com.mysql.jdbc.Driver"/>
            <property name="url" value="jdbc:mysql://127.0.0.1:3306/very_fast_snail" />
            <property name="username" value="root"/>
            <property name="password" value="1234"/>
            </dataSource>
        </environment>
    </environments>
    
    <mappers>
        <mapper resource="resources/mappers/Contest.xml"/>
        <mapper resource="resources/mappers/File.xml"/>
        <mapper resource="resources/mappers/Problem.xml"/>
        <mapper resource="resources/mappers/ProblemFile.xml"/>
        <mapper resource="resources/mappers/Status.xml"/>
        <mapper resource="resources/mappers/StudentContest.xml"/>
        <mapper resource="resources/mappers/Student.xml"/>
        <mapper resource="resources/mappers/Submit.xml"/>
    </mappers>
</configuration>